<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>My Web Application</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="icon" type="image/x-icon" href="/images/icons/sec.png" />
	<link rel="stylesheet" href="/css/index.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>

	<body class="is-preload">

		<!-- Header -->
		<header id="header">
			<a class="logo" href="/">Home</a>
			<nav>
				<a class="logo" href="#menu">Menu</a>
			</nav>
		</header>

		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Register</a></li>
			</ul>
		</nav>

		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h1>CROSS-SITE SCRIPTING (XSS)</h1>
			</div>
		</section>

		<!-- Sections -->
		<section class="wrapper">
			<div class="inner">
				<header class="special">
				</header>
				<div class="highlights">
					<section>
						<div class="content">
							<header>
								<h3>Secured Method</h3>
							</header>
							<form method="post" action="#" th:action="@{/xss-interface(post_id1)}" th:object="${secure}">
								<div class="my_custom1">
									<div class="col-6">
										<label for="post1id">Try ANY input</label>
										<input type="text" th:field="${secure.input}" id="post1id" />
									</div>
									<br>
									<div class="col-6 col-12-medium">
										<ul class="actions fit">
											<li><button class="button primary fit" type="submit"
														style="font-size: 15px;">POST</button></li>
										</ul>
									</div>
									<br>
								</div>
							</form>
						</div>
					</section>
					<section>
						<div class="content" >
							<form method="post"  th:action="@{/xss-interface(reset)}" >
								<div class="my_custom1">
									<div class="col-6 col-12-medium">
										<ul class="actions fit">
											<li><button class="button primary fit" type="submit"
														style="font-size: 15px;">RESET</button></li>
										</ul>
									</div>
								</div>
							</form>
							<h4>Reflective: </h4>
							<div th:if="${output}" th:utext="${output}" style="color: #ce1b28;"></div>
							<h4>Comment Section: <br> </h4>
							<div class="scroll_text">
								<tr th:if="${#lists.isEmpty(comments)}">
									<td colspan="2"> No Comments Available </td>
								</tr>
								<tr th:each="comment : ${comments}">
									<td><span th:utext="${comment.id}" style="color: #ce1b28;"> </span></td>
									<td><span th:utext="${comment.message}" style="color: #ce1b28;"> </span></td>
									<br>
								</tr>
							</div>
						</div>
					</section>
					<section>
						<div class="content">
							<header>
								<h3>Vulnerable Method</h3>
							</header>
							<form method="post" action="#" th:action="@{/xss-interface(post_id2)}" th:object="${vulnerable}">
								<div class="my_custom1">
									<div class="col-6">
										<label for="post2id">Try Input Commented Here</label>
										<!--<script>alert('HI')</script>-->
										<input type="text" th:field="${vulnerable.input}" id="post2id"/>
									</div>
									<br>
									<div class="col-6 col-12-medium">
										<ul class="actions fit">
											<li><button class="button primary fit" type="submit"
														style="font-size: 15px;">POST</button></li>
										</ul>
									</div>
									<br>
								</div>
							</form>
						</div>
					</section>
					<section>
						<div class="content" >
							<h3>Protection:</h3>
							<p>We can instruct thymeleaf to use th:text instead of th:utext to escape all
							input rendered on HTML, but that will disable the functionality of rendering
							HTML elements. If this is not desired we can use OWASP html sanitizer which
							according to its Policy Factory (customizable) will block or not render the
							selected HTML tags. See class XSS for more information</p>
						</div>
					</section>
					<section>
						<div class="content" style="background: unset;">
						</div>
					</section>
					<section>
						<div class="content">
							<h3>Vulnerability:</h3>
							<p> By using the above malicious payload we can inject executable scripts in the HTML DOM page. There
								are 2 major categories of an XSS attack: <br>
								Reflective: An attacker embeds to a link the current URL with the query parameter and
								sends it to potential victims. When a victim clicks the link the script executes for that particular
								session, but otherwise if they visit the page normally it does not execute. Try this
								<a href="/xss-interface?input=<script>alert('HI')</script>">Link</a>
								<br>
								Stored: This category is more dangerous since as shown above the input is stored in a list, therefore
								the malicious script will be executed for all visitors of the website without the need for the
								attacker to distribute malicious links. Example scenarios are forums and comment sections.</p>
						</div>
					</section>
				</div>
			</div>
		</section>
		<!-- Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.min.js"></script>
		<script src="/js/breakpoints.min.js"></script>
		<script src="/js/util.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>